extends base_layout_with_logo
block content
 section(id="letter" class="pt-5 pb-5 border-top")
   div(class="container-xl")
     div(class="row popular_1 text-start w-50 mx-auto")
       div(class="col-md-12")
         h1(class="mb-4") RESEND VERIFICATION EMAIL
       form(action="/resend_verification" method="post")
        div(class="mb-3 row")
         label(for="useremailaddress" class="col-md col-form-label") Enter your email address
        div(class="col-sm-10")
         input(type="text" class="form-control" name="email_address" id="email_address")
         h6(class="mb-0 mt-5 text-center")
          button(type="submit" class="button b d-block rounded-0") resend email
         span(class="col_green" id="registration_error_msg" name="registration_error_msg") #{registration_error}
