doctype html
html
head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Cake Recipes
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/global.css")
    link(rel="stylesheet", href="/stylesheets/index.css")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Poppins&display=swap")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap")
  
body
   section(id="header")
     nav(class="navbar navbar-expand-lg navbar-light w-100 pt-2 pb-2")
       div(class="container-xl")
        a(href="/")
            //website logo
            b(class="fs-1  family_2") Delicious cakes
   block content